*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  max-width: 375px;
  overflow: scroll;
  height:667px;
}

nav {
  position: fixed;
  width: 100%;
  max-width: 375px;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
  line-height: 1.5;
  margin-left: 10px;
  color: white;
}

h3 {
  font-family: sans-serif;
  font-size: 1.3em;
  line-height: 1.4;
  align: center;
  margin-left: 5px;
  margin-right: 5px
}

.status{
  width:375px;
  height: 64px;
  background-color: #3B842C;
  box-shadow: 0px 3px 10px -2px  #111;
  background-position:top;
  background-image: url(../images/status.png);
  background-repeat: no-repeat;
  background-size: auto auto;
  display: inline-block;
}

.wash{
  width: 100%;
  height: 300px;
background-image: url(../images/BusMap.png);
background-position: center;
}

header{
  background-color: #3B842C;
  height: 46px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 10px -2px #111;
  font-family: sans-serif;
  font-size: 2em;
  line-height: 1.5;
  color: white;
  padding-left: 15px;
}

.buses {
  width: 100%;
  height: 100px;
  margin-top: 410px;
  align-items: center;
}


.bus {
  background-color: #FFFFFF;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 1px;
  margin-top: 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px #E6E6E6;
  height: 50px;
}

.bus:hover{
  background-color: #E6E6E6;
  display: flex;
}


aside{
  width: 75px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
  padding-top: 5px;
  border-radius: 25px;
  font-size: 20px;
  background: #2c3b84;
  color: white;
  font-family: sans-serif;
}

.box1{
  width: 140px;
  height: 50px;
  background-color: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 8px;
  font-size: 11px;
  display: flex;
  align-items: center;
}
.box2{
  width: 135px;
  height: 50px;
  background-color: none;
  font-size: 11px;
  text-align: right;
  padding-top: 15px;
}

i {
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 1px;
    display: inline-block;
}

.left {
  height: 13px;
  width: 13px;
  margin-top: 37px;
  margin-left: 10px;
  margin-right: -6px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

p {
  color: white;
  font-size: 16px;
  margin-right: 20px;
}

.streetname{
  color: white;
  margin-top: -16px;
  text-align: center;
  font-size: 16px;
  font-weight: medium;
}


/* body *{border: 1px solid blue;} */
